<div class="modal fade" id="modalWindow{{id}}" aria-labelledby="modal exemple" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Mots de passe pour confirmation !</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
            <form action="{{path(link, query )}} " method="POST">
                <div class="modal-body">
                    <div class="form-group password-registration mt-4 px-4">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="password" placeholder="********" name='_password'>
                        <i class="fa-solid fa-eye"></i>
                    </div>
                </div>

                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal" aria-label="close">
                        Valider
                    </button>
                </div>
            </form>
		</div>
	</div>
</div>
