{% extends "base.html.twig" %}

{% block title %}Acceuil{% endblock %}

{% block body %}
	<main class="container mt-4">
		<div class="jumbotron">

			{# flash messages #}
			{% include 'partials/_flash.html.twig' %}

			<h1 class="display-4">Bienvenue sur {{app.user and 'ROLE_ADMIN' in app.user.roles ? 'l\' administration de' : ''}} Devjob!</h1>
			<p class="lead">Devjob est une application qui va vous permettre de créer des offres d'emplois. Vous pourrez partager vos offres à la communauté du site, dans le but de recevoir des candidatures.</p>

			{% if not app.user %}
				<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>

				<div class="d-flex justify-content-start">
					<a class="btn btn-primary btn-lg text-end " href="{{path('security.registration')}}" role="button">Inscription</a>
				</div>
				<hr style='opacity: unset;'>

				<form action='{{path('home.index')}}' method='POST' class="d-flex">
					<input class="form-control me-sm-2" type="search" placeholder="Search" name='search'>
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>

				{#  LIST DES OFFRES D'EMPLOIS#}
				<ul class="row mx-auto p-0 justify-content-around mt-4 row">
					{% for offer in offers %}
						{% include "partials/_card.html.twig" with {offer} %}
					{% endfor %}
				</ul>

				{# display navigation #}
				<div class="navigation d-flex justify-content-center mt-4">
					{{ knp_pagination_render(offers) }}
				</div>
			{% else %}
				<hr class="my-4">
			{% endif %}

		</div>
	</main>
{% endblock %}
