{% extends "base.html.twig" %}

{% block title %}Erreur service
{% endblock %}

{% block body %}
	<main class="container mt-5">
		<h1 class="text-danger">{{message}}</h1>
		<h5 class="mt-4"> Detail : {{detail}} </h5>
	</main>
{% endblock %}
