{% extends "base.html.twig" %}

{% block title %}page non trouvée{% endblock %}

{% block body %}
    <main class="container mt-5">
        <h1>{{message}}</h1>
        <p> Detail : {{detail}} </p>
    </main>
{% endblock %}