{% extends "base.html.twig" %}

{% block title %}Mon compte{% endblock %}


{% block body %}
	<main class="container mt-5">
		{% include "partials/company/_company_detail.html.twig" %}
	</main>
{% endblock %}
