{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
	<main class="container d-flex flex-column justify-content-center">
		<h1 class="mt-4 px-4">Veuillez saisir votre email</h1>

		{# flash messages #}
		{% include 'partials/_flash.html.twig' %}

		<form action="{{path('security.password.forget')}}" method="post">

			<div class="form-group mt-4 px-4">
				<label for="username" class="form-label">Address email *</label>
				<input type="email" class="form-control" value='' id="username" aria-describedby="emailHelp" placeholder="blah@devjob.fr" name='email'>
				<small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</small>
			</div>

			<button type='submit' class="btn btn-primary m-4">Envoyer</button>
		</form>


	</main>
{% endblock %}
