<h3>Bonjour Société :  {{user.company.name|upper}},</h3>
<p>

    Vous avez demander la suppression de votre compte. <br><br>
    {% if user.description %}
      <strong>Motif :</strong> {{user.description}} <br><br>
    {% endif %}
    Nous régrettons que vous nous quittiez déja. <br><br>
    Votre demande sera traiter dans les plus brefs délais. <br><br>

	<strong>Ceci est un mail automatique, merci de ne pas y repondre.</strong><br><br>

</p>