<h1>Changement du mots de passe de votre compte utilisateur</h1>
<p>
    Bonjour {{ user.firstname ~  " " ~  user.lastname }},  vous avez perdus votre mots de passe ? c'est pas grave c'est des choses qui arrivent.<br><br>
    vous pouvez désormais le modifier en cliquant sur le lien ci dessous.<br><br>
    <a href="{{ absolute_url( path('security.password.change', {token:token, id: user.id} )) }}"> Modifié mon mot de passe</a><br><br>
    <strong>Ceci est un mail automatique, merci de ne pas y repondre.</strong><br><br>
    A bientôt sur Debjob.
</p>