{% extends 'base.html.twig' %}

{% set company = app.request.get('company') %}

{% block title %}offres{% endblock %}

{% block body %}
	<main class="container mt-4">
		<h1>
			{{ 'ROLE_ADMIN' not in app.user.roles  ? 'Mes' : 'Les' }} offres
		</h1>

		{% if  'ROLE_ADMIN' not in app.user.roles %}
			<a href="{{path('offer.new', {'company': company.id , 'count' : offers.getTotalItemCount } )}}" class="btn btn-primary mt-4">Ajouter une offre</a>
		{% endif %}

		{# flash messages #}
		{% include 'partials/_flash.html.twig' %}

		{% if offers.items is  same as ([]) %}
			<h4 class='mt-4'>Aucunes offres disponibles.</h4>
		{% else %}

			<div class="count mt-4">
				<h5>Vous avez {{ offers.getTotalItemCount }} offres au total</h5>
			</div>

			{% include "partials/_offers_table.html.twig" with (offers) %}

		{% endif %}

	</main>
{% endblock %}
