{% extends "base.html.twig" %}

{% block title %} {{offer.name}} {% endblock %}

{% block body %}

	<main class="container mt-4">
		<section>
			{% include "partials/offer/_offer_detail.html.twig" %}

			<a class="btn btn-primary btn-lg" href="{{path('candidate.apply', {offer: offer.id } )}}" role="button">Candidater</a>
		</section>

	</main>

{% endblock %}
