{% extends "base.html.twig" %}

{% block title %}Candidatures
{% endblock %}

{% block body %}

	<main
		class="container mt-4">

		{# flash messages #}
		{% include 'partials/_flash.html.twig' %}

		<section>
			<h2 class="blog-post-title mb-1 text-capitalize">Candidatures</h2>

			{% if candidates.items is  same as ([]) %}
				<h4 class='mt-4'>Vous n'avez pas encore reçus de candidatures.</h4>
			{% else %}

				<h5 class="count mt-4">Vous avez {{ candidates.getTotalItemCount}} candidats au total</h5>

				{% include "partials/admin/_candidates_table_offer.html.twig"  with {candidates}%}

			{% endif %}

		</section>
	</main>

{% endblock %}
