{% extends "base.html.twig" %}

{% set offer = app.request.get('offer') %}

{% block title %}Candidats pour l'offre {{offer.name}}{% endblock %}

{% block body %}

	<main class="container mt-4">

		{# flash messages #}
		{% include 'partials/_flash.html.twig' %}

		<section>
			<h2 class="blog-post-title mb-1 text-capitalize"> Candidats de l'offre {{offer.name}} </h2>
			{% if candidates.items is  same as ([]) %}
				<h4 class='mt-4'>Vous n'avez pas encore reçus de candidatures Pour cette offre.</h4>
			{% else %}

				<div class="count mt-4">
					<h5>Il y'a {{ candidates.getTotalItemCount}} candidatures au total</h5>
				</div>

				{% include "partials/_candidates_by_offer_table.html.twig" with (candidates) %}

			{% endif %}

		</section>
	</main>

{% endblock %}
