{% extends "base.html.twig" %}

{% block title %}
	Détail candidat
	{{candidates[0].firstname ~  ' ' ~ candidates[0].lastname}}
{% endblock %}


{% block body %}
	<main class="container mt-5">

		{# flash messages #}
		{% include 'partials/_flash.html.twig' %}

		{# Détail du candidat #}
		<section class="g-0 rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<h3 class="mb-0 text-capitalize">
					Candidat : {{candidates[0].firstname ~  ' ' ~ candidates[0].lastname}}
				</h3>
				<strong class="d-inline-block mb-2 text-primary">
					Email: {{candidates[0].email}}
				</strong>
				<h5 class="card-text mb-auto">
					Téléphone : {{candidates[0].telephone}}
				</h5>

				<h6 class="card-text mb-auto mt-2">
					Offre(s) :
				</h6>

				{% include "partials/_offers_by_candidates_table.html.twig" with ({candidates, page, count, redirect}) %}

			</div>
		</section>

	</main>
{% endblock %}
