{% extends 'base.html.twig' %}

{% block title %}Entreprises
{% endblock %}

{% block body %}

	<main class="container mt-4">
		<h1>Les entreprises</h1>

		<a href="{{path('admin.society.new' )}}" class="btn btn-primary mt-4">Ajouter une entreprise</a>

		{# flash messages #}
		{% include 'partials/_flash.html.twig' %}

		{% if users.items is  same as ([]) %}
			<h4 class='mt-4'>Aucunes entreprises diponibles.</h4>
		{% else %}

			{# total items count #}
			<div class="count mt-4">
				<h5>
					{{ users.getTotalItemCount }}
					entreprise(s) disponibles(s)</h5>
			</div>

			{% include "partials/admin/_companies_table.html.twig" with (users) %}

		{% endif %}


	</main>

{% endblock %}
